# venv
venv_investimentos/

# local settings
Pipfile/
Pipfile.lock/
.vscode/
src/__pycache__/analise.cpython-38.pyc
src/__pycache__/captura_tratamento.cpython-38.pyc
src/__pycache__/teste.cpython-38.pyc
src/__pycache__/app.cpython-38.pyc
src/.~lock.STP-20210522231455750.csv#
